<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/homePage.css">
    <title>Welcome to Health Axis</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to Health Axis</h1>
        <button onclick="location.href='/doctor/login'">Doctors</button>
        <button onclick="location.href='html/receptionistLogin.html'">Receptionists</button>
        <button onclick="location.href='html/adminLogin.html'">Admin</button>
        <button onclick="location.href='html/patientLogin.html'">Patients</button>
    </div>
</body>

</html>